/* Main Content Styling*/

body {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	padding: 0;
	margin: 0;
	background: black;
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
}

.logo {
	position: absolute;
	top: .5em;
	left: .5em;
	width: 9%;
	height: auto;
}

.icon {
	position: absolute;
	top: .06em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #ffffff;
	z-index: 99;
}

.mainSection {

	display: grid;
	grid-template-rows: 15% 4fr 10%;
	height: 100vh;
	padding: 0;
	margin: 0;
	/*border: 1px solid white;*/
}

.currentSection {

	color: white;
	text-decoration: none;
	display: flex;
	border-bottom: 1px solid grey;
}

.sections {

	padding: 0;
	margin: 0;
	align-self: flex-end;
	padding-bottom: .5em;
}

/* Contact Form */

#contact {
    overflow: auto;
    display: flex;
    justify-content: center;
}
#contact #form {
    width:410px;
    float:left;
}
#contact #form h2 {
	color: white;
    font: 48px 'Bree Serif', Georgia, serif;
}
#contact #form span {
    display:block;
    float:left;
    width:100px;
    padding-top:5px;
    color: white;
    font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #form input {
    float:left;
    width:255px;
    border:0px;
    color:#F1F1F1;
    padding:10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    margin-bottom:10px;
}
#contact #form textarea {
    float:left;
    border:0px;
    width:255px;
    height:140px;
    padding:10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    color:#F1F1F1;
    resize: none;
}
#contact #form input.name {
    background:#222222 url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 10px 8px;
}
#contact #form input.email {
    background:#222222 url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat 10px 9px;
}
#contact #form input.captcha {
    background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat 10px 9px;
}
#contact #form textarea.message {
    background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
}
#contact #form input.submit {
    cursor: pointer;
    width:85px;
    height:30px;
    float:right;
    padding:0px 0px 5px 0px;
    margin:10px 16px 0px 0px;
    background:#222222;
    color:#F1F1F1;
    font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #captcha span{
    width: 44px;
}
#contact #captcha input{
    background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
    margin: 5px 0 0;
    padding: 0;
    border: medium none;
    cursor: pointer;
    width: 15px;
}

#gform {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#thankyou_message {

	color: white;
}

/* Next Section */


.nextSection {

	text-align: right;
	border-top: 1px solid grey;
	/*border: 1px solid white;*/
}

.nextSection a {

	color: white;
	text-decoration: none;
}

.fullNav {
	display: none;
}

/* Navigation Bar Styling */

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0
	background: rgb(255,255,255);
	background: rgba(255,255,255,.85);
	overflow-x: hidden;
	transition: .5s;
}

.overlayContent {
	position: relative;
	display: flex;
	flex-direction: column;
    text-align: center;
	top: 40%;
    width: 100%;
    font-size: 2em;
}
.overlayContent a {
    text-decoration: none;
    color: black;
    padding: .05em;
    font-weight: 300;
}

.close {
	position: absolute;
	top: .06em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #000000;
	z-index: 99;
}



@media screen and (min-width: 1025px) {
	.logo {
		width: 4.25em;
	}

	.rightArrow, .leftArrow {
  		display: none;
  	}

  	.icon, .overlay {
  		display: none;
  	}

  	.fullNav {
  		display: flex;
  		flex-direction: column;
  		position: absolute;
  		top: 50%;
  	}

  	.fullNavEle a{
  		color: white;
  		text-decoration: none;
  	}

  	.eleHover {
  		-webkit-transition: all .65s ease-in;
  		-moz-transition: all .65s ease-in;
  		-o-transition: all .65s ease-in;
  		transition: all .65s ease-in;
  		transform: translateX(20px);
  		visibility: hidden;
  	}

  	.fullNavEle:hover .eleHover {
  		display: inline-block;
  		visibility: visible;
  		transform: translateY(0);
  	}
}