/* Main Content Styling*/

body {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	padding: 0;
	margin: 0;
	background: black;
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
}

.logo {
	position: absolute;
	top: .5em;
	left: .5em;
	width: 9%;
	height: auto;
}

.icon {
	position: absolute;
	top: .06em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #ffffff;
	z-index: 99;
}

.mainSection {
	display: grid;
	grid-template-rows: 15% 35% 40% 10%;
	height: 100vh;
	padding: 0;
	margin: 0;
	/*border: 1px solid white;*/
}

.currentSection {
	color: white;
	text-decoration: none;
	display: flex;
	border-bottom: 1px solid grey;
	/*border: 1px solid white;*/
}

.sections {
	padding: 0;
	margin: 0;
	align-self: flex-end;
	padding-bottom: .5em;
}

.picture {
	/*border: 1px solid white;*/
	margin-top: .25em;
	display: flex;
	align-content: center;
	justify-content: center;
}

.picture img {
	max-width: 99%;
	max-height: 100%;
}

.aboutMe {
	display: flex;
	/*border: 1px solid white;*/
	text-align: center;
	font-size: 1em;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}

.nextSection {
	text-align: right;
	border-top: 1px solid grey;
	/*border: 1px solid white;*/
}

.nextSection a {
	color: white;
	text-decoration: none;
}

.slide{
	display: none;
}

#badge {
	width: 180px;
}

.active {
	display: block;
	color: white;
	font-size: .8em;
}

span {
	font-size: .75em;
	padding-right: .15em;
}

/* Navigation Bar Styling */

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0
	background: rgb(255,255,255);
	background: rgba(255,255,255,.85);
	overflow-x: hidden;
	transition: .5s;
}

.overlayContent {
	position: relative;
	display: flex;
	flex-direction: column;
    text-align: center;
	top: 40%;
    width: 100%;
    font-size: 2em;
}
.overlayContent a {
    text-decoration: none;
    color: black;
    padding: .05em;
    font-weight: 300;
}

.close {
	position: absolute;
	top: .06em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #000000;
	z-index: 99;
}

/* Media qeury between 426px and 1024px */

@media screen and (min-width: 426px) and (max-width: 1024px) {

	.aboutMe {
		display: grid;
		grid-template-rows: 50% 50%;
		grid-template-columns: repeat(4, 25%);
		padding: 0;
		margin: 0;
	}

	.slide {
		display: inline-block;
		color: white;
	}

	#aboutText {
		font-size: .75em;
		grid-column: 1 / 5;
	}

	#badge {
		width: 5em;
		height: auto;
	}

	 .logo {
    	width: 2em;
    	height: auto;
  }
}

/* Media query over 1025px wide */

@media screen and (min-width: 1025px) {
	
	.aboutMe {
		display: grid;
		grid-template-rows: 50% 50%;
		grid-template-columns: repeat(4, 25%);
		padding: 0;
		margin: 0;
	}

	.slide {
		display: inline-block;
		color: white;
	}

	#aboutText {
		font-size: 1em;
		grid-column: 1 / 5;
	}

	#badge {
		width: 5em;
		height: auto;
	}

	.logo {
		width: 4em;
	}
}























