html {
	height: 100vh;
	width: 100%;
	background: black;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
}

body {
	height: 100vh;	
	background: black;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	overflow: hidden;
}
.logo

.leftBar {
}

.mainSection {
	/*border: 1px dotted red;*/
	display: grid;
	grid-template-rows: 12% 40% 40% 8%; 
}

.rightBar{
	/*border: 1px dotted red;*/
	width: 100%
	height: 100vh;
}

.picture, .aboutMe {
	/*border: 3px dotted blue;*/
	display: grid;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	width: 100%;
	font-weight: 100;
	text-align: center;
}

.aboutMe {
	border-bottom: 1px solid grey;
	display: flex;
	flex-direction: column;
}
.aboutText {
	font-size: 1em;
	align-self: start;
	margin-top: 0;
	margin-bottom: 1em;
}

.currentSection {
	border-bottom: 1px solid grey;
	text-align: left;
	color: white;
	align-self: end;
}

.picture img {
	width: 100%;
}

.nextSection {
	text-align: right;
}

.sections {
	text-decoration: none;
	color: white;
}

span {
	font-weight: 100;
	font-size: .75em;
}
