html {
	height: 100vh;
	width: 100%;
	background: black;
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: 'Roboto';
  background: black;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  overflow: hidden;

}

.menu{
  align-self: center;
  justify-self: center;
  text-decoration: none;
}

.leftBar {

}

.rightBar {
  height: 98%;
  display: flex;
  align-items: end;
  /*border: 2px solid red;*/
}


.number {
  font-size: .75em;
  text-decoration: none;
  color: white;
  padding-right: 1em;
  font-weight: 100;
}

.element {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.name {
  position: fixed;
  bottom: 3em;
  right: -2.5em;
  transform: rotate(-90deg);
  align-self: flex-end;
  white-space: nowrap;
  color: white;
  text-decoration: none;

}

@media screen and (min-width: 426px) and (max-width: 1024px) {

  .logo {
    width: 50%;
    height: auto;
  }

}

@media screen and (min-width: 1025px) {

  .menu {
    font-size: 2em;
  }

  .logo {
    width: 35%;
    height: auto;
  }

  .number {
    font-size: .50em;
  }
}