/* Main Content Styling*/

body {

	display: grid;
	grid-template-columns: 10% 80% 10%;
	padding: 0;
	margin: 0;
	background: black;
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
}

.logo {

	position: absolute;
	top: .5em;
	left: .5em;
	width: 9%;
	height: auto;
}

.icon {

	position: absolute;
	top: .06em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #ffffff;
	z-index: 98;
}

.mainSection {

	display: grid;
	grid-template-rows: 15% 4fr 10%;
	height: 100vh;
	padding: 0;
	margin: 0;
	/*border: 1px solid white;*/
}

.currentSection {

	color: white;
	text-decoration: none;
	display: flex;
	border-bottom: 1px solid grey;
}

.sections {

	padding: 0;
	margin: 0;
	align-self: flex-end;
	padding-bottom: .5em;
}

.project img {

	max-width: 100%;
	max-height: auto;
}

.projectList ul {

	list-style-type: none;
	color: white;
	align-self: center;
	padding-left: 0;
	font-size: .75em;
	text-align: center;
}

.nextSection {

	text-align: right;
	border-top: 1px solid grey;
	/*border: 1px solid white;*/
}

.nextSection a {

	color: white;
	text-decoration: none;
}

.gallery1, .gallery2, .gallery3, .gallery4 {

	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 98; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
}

.slide {

	display: none;
}

.active {

	display: block;
}

.active img {

	width: 100%;
	align-self: center;
}

.leftArrow {

	position: absolute;
	left: 2%;
	top: 50%;
	color: #000000;
	
}

.rightArrow {

	position: absolute;
	right: 2%;
	top: 50%;
	color: #000000;
	
}

.fa-times-circle {

	position: absolute;
	top: .065em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #ffffff;
	z-index: 98;
}

.projectSlides {

	display: flex;
	align-self: center;
}

.fullNav {

	display: none;
}

/* Navigation Bar Styling */

.overlay {

	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0
	background: rgb(255,255,255);
	background: rgba(255,255,255,.85);
	overflow-x: hidden;
	transition: .5s;
}

.overlayContent {

	position: relative;
	display: flex;
	flex-direction: column;
    text-align: center;
	top: 40%;
    width: 100%;
    font-size: 2em;
}

.overlayContent a {

    text-decoration: none;
    color: black;
    padding: .05em;
    font-weight: 300;
}

.close {

	position: absolute;
	top: .06em;
	right: .2em;
	width: 9%;
	height: auto;
	color: #000000;
	z-index: 99;
}


@media screen and (min-width: 426px) and (max-width: 1024px) {

	.logo {
		
    	width: 2em;
    	height: auto;
  }

    .mainSection {

  		display: grid;
  		grid-template-rows: 7% 1fr 7%;
  	}

  	.projectList {

  		display: grid;
  		grid-template-columns: 50% 50%;
  		grid-template-rows: 50% 50%;
  		grid-gap: 1em 1em;
  		align-items: center;
  	}

  	.projectList img {

  		width: 100%;
  		margin: auto;
  	}

  	ul li{

  		font-size: 1.6em;
  	}
}



@media screen and (min-width: 1025px) {

	.logo {

		width: 4.25em;
	}

  	.icon, .overlay {

  		display: none;
  	}

  	.fullNav {

  		display: flex;
  		flex-direction: column;
  		position: absolute;
  		top: 50%;
  	}

  	.fullNavEle a{

  		color: white;
  		text-decoration: none;
  	}

  	.mainSection {

  		display: grid;
  		grid-template-rows: 7% 1fr 7%;
  	}

  	.projectList {
  		display: grid;
  		grid-template-columns: 50% 50%;
  		grid-template-rows: 50% 50%;
  	}

  	.projectList img {
  		display: block;
  		width: 70%;
  		height: 70%;
  		margin: auto;
  	}

  	.eleHover {

  		-webkit-transition: all .65s ease-in;
  		-moz-transition: all .65s ease-in;
  		-o-transition: all .65s ease-in;
  		transition: all .65s ease-in;
  		transform: translateX(20px);
  		visibility: hidden;
  	}

  	.fullNavEle:hover .eleHover {

  		display: inline-block;
  		visibility: visible;
  		transform: translateY(0);
  	}

  	.active {
  		width: 75%
  	}

  	.leftArrow {

		position: absolute;
		left: 2%;
		color: #ffffff;
		align-self: center;
	}

	.rightArrow {

		position: absolute;
		right: 2%;
		color: #ffffff;
		align-self: center;
	}

	.projectSlides {
		display: flex;
		justify-content: center;
	}
}